{% extends 'base.html.twig' %}

{% block title %}Add New Note{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Add New Note</h1>

        <div class="form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
