{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Post page ✅</h1>

    <div>
        <h2>{{ post_title }}</h2>
        <p>{{ post_description }}</p>
    </div>
</div>
{% endblock %}
